@font-face {
        font-family: Honey Script;
        src: url(fonts/HoneyScript-SemiBold.ttf);
}

body {
  //background-image: url("http://wallpaperswide.com/download/retro_colors_background_i-wallpaper-1280x768.jpg");
}

.navbar {
  margin-bottom: 2px;
}

.navbar-right {
  margin-top: 10px;
}

.navbar-header > a >img {
  width: 30%;
  padding: 15px;
  display: inline;
}

.navbar-inverse {
    background-color: #EB5B57;
    border-color: transparent;
}

.navbar-btn {
    margin-top: 30px;
    margin-bottom: 8px;
    margin-right: 15px;
    background-color: #EB5B57;
    color: white;
    font-size: 18px;
}

.brand {
  display: inline;
  color: #FFF;
  font-size: 36px;
  float: right;
  position: relative;
  right: 148px;
  top: 32px;
  font-family: Honey Script;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }

.carousel-inner > .item > img {
      width: 860px;
      height: 506px;
  }